<ion-view view-title="首页">
  <ion-nav-buttons side="right">
  </ion-nav-buttons>
  <ion-content>
    <!--<ion-list>-->
      <!--<ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">-->
        <!--{{playlist.title}}-->
      <!--</ion-item>-->
    <!--</ion-list>-->
    <div class="row row-no-padding">
      <img class="full-image image-title" src="pages/img/logoin_title.jpg" style="height:33%;">
    </div>
    <div class="row stable-bg">

      <div class="col">
        <h5>今日</h5>
        <p>156.14</p>
        <p>昨日：136.16</p>
      </div>
      <div class="col">
        <h5>本周周报表</h5>
        <p>2756.14</p>
        <p>同期：2356.16</p>
      </div>
      <div class="col">
        <h5>本月报表</h5>
        <p>24556.14</p>
        <p>同期：24456.16</p>
      </div>
    </div>
<div class="row light-bg quick-actions row-no-padding">
     <a class="col col-border tab-item quick-action-item" ui-sref="app.product">
       <i class="icon ion-ipad energized"></i>新增商品</a>
     </a>
    <a class="col col-border tab-item quick-action-item" ui-sref="app.member">
        <i class="icon ion-person-add calm"></i>新增会员</a>
  <a class="col col-border tab-item quick-action-item" href="#">
      <i class="icon ion-cash"></i>收银记账</a>
    </a>

    </a>
    <a class="col col-border tab-item quick-action-item" href="#">
      <i class="icon ion-alert-circled"></i>支出管理</a>
    </a>
</div>
    <div class="row light-bg quick-actions row-no-padding">
      <a class="col col-border tab-item quick-action-item" ui-sref="app.editproduct">
        <i class="icon ion-ios-box assertive"></i>商品管理</a>
      </a>
      <a class="col col-border tab-item quick-action-item" href="#">
        <i class="icon ion-alert-circled"></i>查询销售</a>
      </a>
      <a class="col col-border tab-item quick-action-item" ui-sref="app.editmember">
        <i class="icon ion-person-stalker balanced"></i>会员管理</a>
      </a>
      <a class="col col-border tab-item quick-action-item" href="#">
        <i class="icon ion-alert-circled"></i>智能分析</a>
      </a>
    </div>
    <div class="row light-bg quick-actions row-no-padding">
      <a class="col col-border tab-item quick-action-item" href="#">
        <i class="icon ion-alert-circled royal"></i>供应商管理</a>
      </a>
      <a class="col col-border tab-item quick-action-item" href="#">
        <i class="icon ion-alert-circled balanced"></i>挂单</a>
      </a>      <a class="col col-border tab-item quick-action-item" href="#">
      <i class="icon ion-plus assertive"></i>高级功能</a>
      </a>
      <a class="col col-border tab-item quick-action-item"></a>
    </div>
  </ion-content>
</ion-view>
