<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-energized">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
  <ion-content class="dark-bg has-footer">
    <div class="row row-center row-no-padding padding-left padding-right">
      <div class="row">
        <div class="col col-67 dark-bg">
          <h4 class="light">{{userInfo.name}}</h4>
          <h6 class="stable">{{userInfo.phone}}</h6>
        </div>
        <div class="col col-33">
          <span class="energized-bg light">高级版</span>
        </div>
      </div>
    </div>
    <ul class="list menu-left" style="margin-left:10px;" bar-footer>
      <li class="item item-icon-left item-icon-right dark-bg stable" ui-sref="app.playlists" menu-close>
        <i class="icon ion-social-usd"></i>
        首页
        <i class="icon ion-ios-arrow-right"></i>
      </li>
      <li class="item item-icon-left item-icon-right dark-bg stable" ui-sref="app.login" menu-close>
        <i class="icon ion-social-usd"></i>
        登陆
        <i class="icon ion-ios-arrow-right"></i>
      </li>
      <li class="item item-icon-left item-icon-right dark-bg stable" ui-sref="app.shop" menu-close>
        <i class="icon ion-social-usd"></i>
        店铺信息
        <i class="icon ion-ios-arrow-right"></i>
      </li>
      <li class="item item-icon-left item-icon-right dark-bg stable" ui-sref="app.category" menu-close>
        <i class="icon ion-social-usd"></i>
        商品分类
        <i class="icon ion-ios-arrow-right"></i>
      </li>
      <li class="item item-icon-left item-icon-right dark-bg stable" ui-sref="app.product" menu-close>
        <i class="icon ion-social-usd"></i>
        添加商品
        <i class="icon ion-ios-arrow-right"></i>
      </li>
      <li class="item item-icon-left item-icon-right dark-bg stable" ui-sref="app.editproduct" menu-close>
        <i class="icon ion-social-usd"></i>
        商品管理
        <i class="icon ion-ios-arrow-right"></i>
      </li>
      <li class="item item-icon-left item-icon-right dark-bg stable" ui-sref="app.member" menu-close>
        <i class="icon ion-social-usd"></i>
        新增会员
        <i class="icon ion-ios-arrow-right"></i>
      </li>
      <li class="item item-icon-left item-icon-right dark-bg stable" ui-sref="app.editmember" menu-close>
        <i class="icon ion-social-usd"></i>
        会员管理
        <i class="icon ion-ios-arrow-right"></i>
      </li>
    </ul>
    </ion-content>
    <div class="bar bar-footer bar-dark">
      <a class="button button-icon button-clear button-light icon-left ion-ios-gear-outline "style="margin-top: -10px" ui-sref="app.setting">&nbsp;&nbsp;设置</a>
    </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
