<ion-view view-title="{{title}}">
  <ion-content ng-controller="EditShopCtrl">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="{{title}}" ng-model="value">
      </label>
    </div>
    <div class="row">
      <div class="col">
        <button class="button button-energized button-full" ng-click="save()">保存</button>
      </div>
    </div>
  </ion-content>
</ion-view>
