<ion-view view-title="店铺信息">
  <ion-content class="stable-bg has-footer" scroll="false">
  <div class="list list-inset">
    <div class="item item-icon-right" ng-click="edit('店铺名称')">店铺名称
      <i class="icon ion-ios-arrow-forward"></i><span class="item-note">{{shopData.Name}}</span>
    </div>
    <div class="item item-icon-right" ng-click="edit('店铺简称')">店铺简称
      <i class="icon ion-ios-arrow-forward"></i><span class="item-note">{{shopData.AB}}</span>
    </div>
    <div class="item item-icon-right" >创建时间
      <span class="item-note">{{shopData.CreateDate}}</span>
    </div>
    <div class="item item-icon-right" ng-click="edit('手机号码')">手机号码
      <i class="icon ion-ios-arrow-forward"></i><span class="item-note">{{shopData.Phone}}</span>
    </div>

  </div>
    <div class="list list-inset">
      <div class="item item-icon-right" ng-click="edit('电子邮件')">电子邮件
        <i class="icon ion-ios-arrow-forward"></i><span class="item-note">{{shopData.Email}}</span>
      </div>
      <div class="item item-icon-right" ng-click="edit('店主姓名')">店主姓名
        <i class="icon ion-ios-arrow-forward"></i><span class="item-note">{{shopData.Boss}}</span>
      </div>
      <div class="item item-icon-right" ng-click="edit('店铺电话')">店铺电话
        <i class="icon ion-ios-arrow-forward"></i><span class="item-note">{{shopData.ShopPhone}}</span>
      </div>
      <div class="item item-icon-right">行业类别
      </div>

    </div>
  </ion-content>
</ion-view>
