<ion-view view-title="商品管理">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="">分类</button>
  </ion-nav-buttons>
  <ion-header-bar class="bar-subheader item-input-inset bar-stable">
  <label class="item-input-wrapper light-bg">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="请输入商品名称查询">
  </label>
</ion-header-bar>
 <ion-content>

<ion-list ng-if="product.length==0" class="col-center">
  <ion-item align="center">
    <div class="text-center">当前没有商品</div>
    <div class="text-center">您可以</div>
    <div class=" button assertive-bg text-center" style="  width: 250px" ui-sref="app.product">去添加</div>
  </ion-item>

</ion-list>
   <ion-list >
    <ion-item ng-repeat="item in product" >
      <div><b>{{item.name}}</b></div>
      <div>条码：{{item.skuBarcode}}</div>
      <div>售价：{{item.salePrice}}</div>

    </ion-item>
   </ion-list>
<ion-refresher on-refresh="doRefresh()" pulling-text="下拉可刷新" ></ion-refresher>
   <button ng-click="clearLocalStorage()">delete all product</button>
 </ion-content>
</ion-view>
