<ion-view view-title="新增商品">
  <ion-content class=" has-footer">
    <ion-list>
      <form name="frmNewPdt  ">
        <ion-item class="row pic_list">
             <div class="col " ng-repeat="pz in pdtInfo.imgs">
              <div class="imgbox"><img ng-src="{{pz.imgLocalUrl || pz.imgData}}"/></div>
            </div>
          <div class="col ">
            <button class="btn-img" ng-click="showActionSheet()"><i class="icon ion-plus-round"></i><br/>上传图片</button>
          </div>
          <div class="col ">
          </div>
        </ion-item>

        <ion-item class="item item-input-inset add_expire_input custom_item">
          <label class="item-input-wrapper">
            <span class="input-label">条码</span>
            <input type="number" placeholder="输入商品条码" ng-model="pdtInfo.skuBarcode" name="skuBarcode"/>
          </label>
          <button class="button-scan" ng-click="scanBarcode()">
            <i class="icon ion-qr-scanner"></i>
          </button>
        </ion-item>
        <ion-item class="item item-input-inset add_expire_input custom_item">
          <label class="item-input-wrapper">
            <span class="input-label">名称<em>*</em></span>
            <input type="text" ng-model="pdtInfo.name" name="pdtName"/>
          </label>
        </ion-item>
        <label class="item item-input item-select custom_select">
          <div class="input-label">
            分类<em>*</em>
          </div>
          {{pdtInfo.category.Name}}
          <select ui-sref="app.category">
            <option>请选择分类 &gt;</option>
          </select>
        </label>
        <ion-item class="item item-input-inset add_expire_input custom_item ">
          <label class="item-input-wrapper">
            <span class="input-label">售价<em>*</em></span>
            <input type="number" ng-model="pdtInfo.salePrice" name="salePrice"
                   placeholder="请输入商品售价"/>
          </label>
        </ion-item>
        <ion-item class="item item-input-inset add_expire_input custom_item">
          <label class="item-input-wrapper">
            <span class="input-label">进价</span>
            <input type="text" ng-model="pdtInfo.purchasePrice" name="purchasePrice"
                   placeholder="请输入商品进价"/>
          </label>
        </ion-item>
        <ion-item class="item item-input-inset add_expire_input custom_item">
          <label class="item-input-wrapper">
            <span class="input-label">库存</span>
            <input type="text" ng-model="pdtInfo.storeCnt" name="storeCnt"
                   placeholder="请输入商品库存"/>
          </label>
        </ion-item>
        <ion-item class="item item-input-inset add_expire_input custom_item">
          <label class="item-input-wrapper">
            <span class="input-label">规格</span>
            <input type="text" ng-model="pdtInfo.spec" name="spec"
                   placeholder="请输入商品规格"/>
          </label>
        </ion-item>
        <ion-item class="item item-input-inset add_expire_input custom_item">
          <label class="item-input-wrapper">
            <span class="input-label">备注</span>
            <input type="text" ng-model="pdtInfo.remark" name="remark"
                   placeholder="请输入商品备注"/>
          </label>
        </ion-item>
        <ion-item class="item item-input-inset add_expire_input custom_item">
          <label class="item-input-wrapper">
            <span class="input-label">供应商</span>
            <input type="text" ng-model="pdtInfo.supplier.name" name="supplier" ng-click="selectSupplier()"
                   placeholder="商品供应商"/>
          </label>
        </ion-item>


    </form>
    </ion-list>
    <!--<div class="new_comm">-->
      <!--<h5>新增供应商</h5>-->
      <!--<div class="list pop-form">-->
        <!--<label class="item item-input">-->
          <!--<span class="input-label">供应商名称<em>*</em></span>-->
          <!--<input type="text">-->
        <!--</label>-->
        <!--<label class="item item-input">-->
          <!--<span class="input-label">供应商电话<em>*</em></span>-->
          <!--<input type="password">-->
        <!--</label>-->
      <!--</div>-->
      <!--<div class="button-bar">-->
        <!--<a class="button  button-outline button-energized">取消</a>-->
        <!--<a class="button button-energized">确定</a>-->
      <!--</div>-->
      <!--</ion-list>-->

    <!--</div>-->


  </ion-content>
  <div class="bar bar-footer bar-energized">
    <div class="row">
      <div class="col col-center text-center">
        <button class="button button-clear button-full" ng-click="doSave()">完成</button>
      </div>
      <div class="col col-center text-center">
        <button class="button button-clear button-full" ng-click="doSaveAndNew()">继续添加</button>
      </div>
    </div>
  </div>
</ion-view>
