<ion-view view-title="会员管理">

  <ion-header-bar class="bar-subheader item-input-inset bar-stable">
  <label class="item-input-wrapper light-bg">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="请输入会员姓名查询">
  </label>
</ion-header-bar>
 <ion-content>

<ion-list ng-if="members.length==0" class="col-center">
  <ion-item align="center">
    <div class="text-center">当前没有会员</div>
    <div class="text-center">您可以</div>
    <div class=" button assertive-bg text-center" style="  width: 250px" ui-sref="app.member">去添加</div>
  </ion-item>

</ion-list>
   <ion-list >
    <ion-item ng-repeat="item in members" >
      <div><b>{{item.name}}</b></div>
      <div>卡号：{{item.number}}</div>
      <div>电话：{{item.tel}}</div>
      <div class="button royal-bg" >编辑会员资料</div>

    </ion-item>
   </ion-list>
<ion-refresher on-refresh="doRefresh()" pulling-text="下拉可刷新" ></ion-refresher>
   <button ng-click="clearLocalStorage()">delete all member</button>
 </ion-content>
</ion-view>
