<ion-view view-title="新增会员">

  <ion-content class=" has-footer">
    <ion-list>
      <form name="frmNewMember  ">
        <ion-item class="row pic_list">
          <div class="col " >
            会员头像
          </div>
          <div class="col " ng-repeat="pz in memberInfo.imgs">
            <div class="imgbox"><img ng-src="{{pz.imgLocalUrl || pz.imgData}}"/></div>
          </div>
          <div class="right ">
            <button class="btn-img" ng-click="showActionSheet()"><i class="icon ion-plus-round"></i><br/>上传图片</button>
          </div>
        </ion-item>

        <ion-item class="item item-input-inset add_expire_input custom_item">
          <label class="item-input-wrapper">
            <span class="input-label">卡号<em>*</em></span>
            <input type="number" ng-model="memberInfo.number" name="memberaNumber"/>
          </label>
        </ion-item>

        <ion-item class="item item-input-inset add_expire_input custom_item ">
          <label class="item-input-wrapper">
            <span class="input-label">姓名<em>*</em></span>
            <input type="text" ng-model="memberInfo.name" name="memberName"
                   placeholder="请输入姓名"/>
          </label>
        </ion-item>
        <ion-item class="item item-input-inset add_expire_input custom_item">
          <label class="item-input-wrapper">
            <span class="input-label">电话<em>*</em></span>
            <input type="number" ng-model="memberInfo.tel" name="memberTel"
                   placeholder="请输入会员电话"/>
          </label>
        </ion-item>

        <ion-item class="item item-input-inset custom_item">
          <label class="item-input-wrapper">
            <span class="input-label">性别</span>
            <input type="text" ng-model="memberInfo.genre" name="memberGenre" ng-click=""
                   placeholder="请输入会员性别"/>
          </label>
        </ion-item>
        <ion-item class="item item-input-inset add_expire_input custom_item">
          <label class="item-input-wrapper">
            <span class="input-label">生日</span>
            <input type="text" ng-model="memberInfo.birthday" name="memberBirthday" ng-click=""
                   placeholder="请输入会员生日"/>
          </label>
        </ion-item>
        <ion-item class="item item-input-inset add_expire_input custom_item">
          <label class="item-input-wrapper">
            <span class="input-label">地址</span>
            <input type="text" ng-model="memberInfo.address" name="memberAddress"
                   placeholder="请输入地址"/>
          </label>
        </ion-item>
        <ion-item class="item item-input-inset add_expire_input custom_item">
          <label class="item-input-wrapper">
            <span class="input-label">邮箱</span>
            <input type="text" ng-model="memberInfo.email" name="memberEmail"
                   placeholder="请输入邮箱"/>
          </label>
        </ion-item>

    </form>
    </ion-list>
  </ion-content>
  <div class="bar bar-footer bar-energized">
    <div class="row">
      <div class="col col-center text-center">
        <button class="button button-clear button-full" ng-click="doSave()">保存</button>
      </div>

    </div>
  </div>

</ion-view>
