<ion-view view-title="商品分类">
  <ion-nav-buttons side="right">
    <a class="button button-clear" href="#"><i class="ion-plus"></i> </a>
  </ion-nav-buttons>
  <ion-content>
    <div class="row row-no-padding">
      <ul class="col col-40 stable-bg list">
        <li class="item">
          大分类
        </li>
        <li class="item" ng-repeat="item in categories" ng-class={'item-active':item.ID==activeID}
        ng-click="selectCategory(item.ID)">
          {{item.Name}}
        </li>
        <a class="button button-positive button-clear margin-left button-icon icon-left ion-plus-circled"  href="#/app/editcategory/1">新增大分类</a>
      </ul>
      <ul class="col col-60 light-bg list">
        <li class="item">
          小分类
        </li>
        <li class="item item-icon-right padding-left" style="border-left: none;margin-left: 10px;"  ng-repeat="item in sections" ng-click="select(item)">
          {{item.Name}}
        </li>
        <a class="button button-positive button-clear margin-left button-icon icon-left ion-plus-circled" href="#/app/editcategory/2" >新增小分类</a>

      </ul>

    </div>


  </ion-content>
  <div class="bar bar-footer bar-dark" >
    <span ng-if="sections.length==0">目前没有小分类</span>
    <span >共有{{categories.length}}种大分类 &nbsp {{sections.length}}种商品分类</span>
  </div>
</ion-view>
