<ion-view view-title="新增分类">
  <ion-content>
    <div class="list">
      <label class="item item-input" ng-repeat="item in categories" ng-if="type==1">

          <span class="input-label">大分类
          </span>
        <input type="text" placeholder="大分类名称" ng-model="item.Name">

      </label>
      <label ng-if="type==1">
        <a class="button button-positive button-clear margin-left button-icon icon-left ion-plus-circled" ng-click="addCategories()">新增分类 </a>
      </label>

      <label class="item item-input" ng-repeat="item in sections" ng-if="type==2">

        <span class="input-label">小分类</span>
        <input type="text" placeholder="小分类名称" ng-model="item.Name">
      </label>
      <label ng-if="type==2">
      <a class="button button-positive button-clear margin-left button-icon icon-left ion-plus-circled" ng-click="addSection()">新增分类 </a>
      </label>
    </div>
  </ion-content>
</ion-view>
