<ion-view view-title="店铺设置">
  <ion-content class="stable-bg has-footer" scroll="false">
    <div class="list list-inset">
      <div class="item item-icon-right" ui-sref="app.shop">店铺设置
        <i class="icon ion-ios-arrow-forward"></i>
      </div>
      <div class="item item-icon-right">密码
        <i class="icon ion-ios-arrow-forward"></i>
      </div>
    </div>
    <div class="list list-inset">
      <div class="item item-icon-right"  >关于我们
        <i class="icon ion-ios-arrow-forward"></i>
      </div>
      <div class="item item-icon-right" >联系客服
        <span class="item-note"><a href="tel:18705914385">18705914385</a></span>
      </div>
      <div class="item item-icon-right" >版本号:v1.02
      </div>
    </div>
    <div class="list list-inset">

    <div class="item item-icon-right">安全退出</div>
    </div>
</ion-view>
