<ion-view view-title="登入">
  <ion-content class="stable-bg has-footer" scroll="false">
    <div class="row row-no-padding">
      <img class="full-image image-title" src="pages/img/logoin_title.jpg" style="height:33%;">
    </div>

    <div class="list list-inset">
      <label class="item item-input">
        <span class="input-label">账号</span>
        <input type="text" placeholder="手机号或者电子邮箱" ng-model="loginData.username">
      </label>
      <label class="item item-input" style="margin-top: 20px;">
        <span class="input-label">密码</span>
        <input type="password" placeholder="您的生意专家登入密码" ng-model="loginData.password">
      </label>
    </div>



    <div class="row">
      <div class="col padding-left">
        <a class="button button-clear button-small button-dark" href="#/forgotpassword">忘记密码？</a>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <a class="dark">查看演示</a>
      </div>

    </div>


    <div class="row">
      <div class="col col-50 padding-right">
        <button class="button button-energized button-block" ng-click="login()">登入</button>
      </div>
      <div class="col col-50 padding-left">
        <button class="button button-energized button-block">注册</button>
      </div>
    </div>


  </ion-content>
</ion-view>



