/* Empty. Add your own CSS if you like */
.custom_item{
	width: 100%;
	border-width:0;
	padding:7px 0;
}
.custom_item .item-input-wrapper{
	border-bottom: 1px solid #eee;
}
.item_line{
	width: 100%;
	height: 1px ;
	margin:1px 0;
}
.custom_item .item-input-wrapper{
	background-color: #fff;
}
.custom_item .item-input-wrapper .input-label{
	width: 18%;
}
.custom_item  button.button-scan{
	border: none;
	background: none;
	font-size: 18px;
	color: #FF3B30;
	font-weight: 600;
	position: absolute;
	right:10px;
}
.custom_item em, .custom_select em{
	color: #FF3B30;
}
.custom_select{
	padding:2px 7px;
	border:none;
	border-bottom: 1px solid #eee;
	margin:1px -1px;
}
.pic_list .btn-img{
	font-size: 12px;
	width: 60px;
	height: 60px;
	border:none;
	background: #f9f28b;
	border-radius:3px;
	color: #aaa;
}
.pic_list button.btn-img i{
	font-size: 28px;
	color: #f4c600;
}
.pic_list .imgbox{
	width: 60px;
	height: 60px;
	border-radius:3px;
	overflow: hidden;
}
.pic_list .imgbox img{
	width: 60px;
	height: 60px;
	border:none
}
.new_comm{

	margin:3px 12px;
}
.pop-form{
	border:1px solid #eee;
	padding:1px;
}
.pop-form .item{
	border: none;
	border-bottom: 1px solid #eee;
}

.col-border{
  border: solid 1px #ececec;
  border-right-style: none;
  border-bottom-style: none;

}

.col-border:last-child{
  border-right:solid 1px #ececec;
}

.row:last-child .col-border{
  border-bottom:solid 1px #ececec;
}

.quick-actions{
display: table;
}

.quick-action-item{
  width: 15vw;
  height: 15vw;
  display: table-cell;
  vertical-align: middle;
}
